#courseb
{
    color: white;
}
#addcourse
{
    margin-left:1300px;
    margin-top: 20px;
}
#content
{
    color: white;
    margin:0px 550px;
}
#but
{
    margin-top: 30px;
}
#coursetable{
    margin-left: 575px;
}